<div class="container form-white">
    <%= simple_form_for(@list) do |l| %>
      <%= l.input :name %>
      <%= l.input :photo, as: :file %>
      <%= l.submit %>
    <% end %>
    <br>
    <%= link_to "Cancel", lists_path  %>
</div>
