<div class="container form-white">
  <%= simple_form_for [@list, @bookmark] do |b| %>
    <%= b.input :comment %>
    <%= b.association :movie %>
    <%= b.submit %>
  <% end %>
  <br>
  <%= link_to "Cancel", list_path(@list)  %>
</div>
